*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

a{
    text-decoration: none;
}

/*utitlity*/
.container-80{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.h-400{
    height: 400px;
}

.flex{
    display: flex;
}

/* .col-pink{
    background-color: pink;
}

.col-blue{
    background-color: lightblue;
} */

/* .bg-green{
    background-color: green;
} */

.bg-gray{
    background-color: #F6F6F6;
}

.bg-white{
    background-color: white;
}
.order-1{
    order: 1;
}

.order-2{
    order: 2;
}

a{
    color: white;
}

#login{
    color: #2A5EE7;
    background-color: white;
    border: 5px white solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
header{
    background-image: url(../img/jumbo.png);
    padding-bottom: 20px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: #2A5EE7;
    padding: 10px 0;
}

nav div{
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

nav div ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

#intro-discord div{
    margin-top: 20px;
    text-align: center;
    color: white;
}

#scarica1{
    color: #2A5EE7;
    background-color: white;
    border: 5px white solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-right: 50px;
}

#scarica2{
    color: white;
    background-color: #23272A;
    border: 5px #23272A solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

#img-centrale{
    padding-left: 5%;
}

#box-star{
    background-image: url(../img/stars.svg);
    text-align: center;
    padding-bottom: 30px;
    background-position: top;
    background-repeat: no-repeat;
    font-size: x-large;

}
#scarica3{
    color: white;
    background-color: #8EA1E1;
    border: 5px #8EA1E1 solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-left: 44%;

}

#registrati{
    color: white;
    background-color: #8EA1E1;
    border: 4px #8EA1E1 solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    padding-top: 5px;
}

.title1{
    text-align: center;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 50px;

}

.paragrafo1{
    text-align: center;
    color: white;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: larger;
}

.title2{
    font-size: xx-large;
    padding-bottom: 20px;
    padding-top: 50px;
}

.title3{
    font-size: xx-large;
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

.paragrafo2{
    text-align: center;
    padding-right: 150px;
    padding-left: 150px;

}

.col-70{
    flex-basis: 70%;
}

.col-30{
    flex-basis: 30%;
}

main section {
    padding: 30px 0;
}

/* main section:nth-child(even){
    background-color: #F6F6F6;
} */

footer{
    background-color: #23272A;
    padding: 10px 0;
}

footer #footer-top > div{
    /* background-color: lightseagreen; */
    flex-basis: calc(60% / 4);
    /* border: 1px dashed white; */
}

footer #footer-top div:first-child{
    /* background-color: lightcoral; */
    flex-basis: 40%;
}

footer #footer-social{
    justify-content: space-between;
    margin-bottom: 15%;

}

footer section a{
    color: white;
}

hr{
    margin: 20px 0;
}

.fake-select{
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    color: white;
}

.title4{
    color: #738ADB;
    padding-top: 20px;
    padding-bottom: 20px;
}

.space{
    display: flex;
    justify-content: space-between;
    padding-right: 50%;
}

.title5{
    color: #738ADB;
    padding-top: 25px;
    padding-bottom: 20px;
}
.casella{
    padding-left: 5%;
    padding-right: 5%;
}

.wave{
    background-image: url(../img/wave.svg);
    height: 150px;
    filter: invert(99%) sepia(67%) saturate(41%) hue-rotate(297deg) brightness(114%) contrast(93%);
}

.rotate180{
    transform: rotate(180deg);
}
